<h1> <%= @patient.full_name %> </h1>

<%= link_to 'Edit Name', edit_patient_path(@patient) %>
<br/>
<br/>
<%= link_to 'Delete Patient', patient_path(@patient.id), method: :delete%>
<br/>
<br/>
<%= link_to 'Patient List', patients_path() %>